.create-course {
    display: flex;
    flex-direction: column;
}

.course-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.course-description {
    width: 100%;
    margin-bottom: 1rem;
    resize: none;
}

.course-authors-duration {
    display: flex;
    justify-content: space-between;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

input {
    width: 100%;
}

.bottom-gap {
    margin-bottom: 20px;
}
