.course-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.course-title {
    margin: 0;
}

.course-duration,
.course-date,
.course-authors {
    margin: 0.5rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-info-left {
    width: 60%;
    float: left;
}

.course-info-right {
    width: 40%;
    float: right;
    text-align: right;
}
