.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-text-button-container {
    display: flex;
    align-items: center;
}

.header-text {
    margin-right: 10px;
}
