.courses {
    display: flex;
    flex-direction: column;
}

.courses-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.courses-top > * {
    margin-right: 1rem;
}

.courses-list {
    display: flex;
    flex-direction: column;
}