.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login h2 {
    text-align: center;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login label {
    margin: 0.5rem 0;
}