.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
}